body{
    margin-top: 5px;
    background-color: #f3f3f3;
}
a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

.article_mange {
    padding: 10px;
    margin-top: 15px;
    background-color: #b3d7ff;
}

.article_mange a {
    padding: 5px;
}

.body-info {
    padding-top: 10px;
}

.acticle_info {
    margin-top: 15px;
    padding: 15px;
    background-color: #f3f3f3;
}

.img-thumbnail {
    border-radius: 5px;
    height: 40px;
    width: 40px;
}

/*首页文章*/
.body-info .card-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.body-info .card-content {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*#主页文章作者和时间*/
.user-info {
    margin: 20px;
}
/*用户修改*/
.update-user img {
    margin: 15px;
    height: 80px;
    width: 80px;
}
/*文章添加*/
.article-add {
}
/*文章管理部分*/

/*全部*/
.article-mange{
    margin-top: 15px;

}
/*每篇文章*/
.article-alone{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: 5px;
    background-color: #b3d7ff;
    margin-top: 15px;
    padding: 10px;
}
/*文章修改*/
.article-content-input{
}
/*文章详情*/
.article-info {
    margin-top: 15px;
    padding: 15px;
    background-color: #ffffff;
}

.article-title {
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    overflow: hidden;
}

.article-info .content {
    text-indent: 2em;
    padding: 20px;
    margin-top: 15px;
    font-size: 24px;
}

.article-user {
    font-weight: normal;
    font-size: 18px;
    display: block;
    float: right;
}
/*回复评论*/
.reply-content{
    padding-left: 20px;
}
/*回复边框*/
.reply {
    margin: 10px;
    padding: 8px;
    color: white;
    border-radius: 6px;
}
/*回复时间样式*/
.reply-time{
    font-size: 14px;
}
.reply-btn {
    float: right;
}