{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block title %}-添加文章{% endblock %}

{% block body %}
    <div class="article-mange">
        {% for article in data %}
        <div class="article-alone">
            <a href="{{ article.id }}">{{ article.article_title }}</a>
            <div class="article-link float-right">
                <a href="/article/update/{{ article.id }}">修改</a>
                <a href="/article/delete/{{ article.id }}">删除</a>
            </div>
        </div>
            {% endfor %}
      </div>

{% endblock %}