{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block title %}-登录{% endblock %}

{% block body %}
    <div class="row mt-4">
        <div class="col"></div>
        <div class="col">
            <form action="{{ url_for('auth.login') }}" method="POST" onsubmit="return LoginvalidateForm()">
                <div class="form-group">
                    <p>{{ error }}</p>
                    <label for="exampleInputusername">用户名</label>
                    <input type="username" class="form-control" id="username" aria-describedby="exampleInputusername"
                           name="username">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">密码</label>
                    <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">立即登录</button>
                </div>
            </form>
        </div>
        <div class="col"></div>
    </div>
{% endblock %}